{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-6 m-auto">
      {% if msg %}
        <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ msg }}</strong>
        </div>
      {% endif %}
        <h4 class="alert alert-primary">Update Student Information</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{ frm.as_p }}
            <input type="submit" class="btn btn-success" value=Update>
            <a href="{% url 'student_info' %}"class="btn btn-warning">Back</a>
    </form>
        </form>
    </div>
</div>

{% endblock  %}